.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.grid-col-1 {

}

.border-0 {
  border: 0;
}

.br-0 {
  border-radius: 0;
}

pre {
  overflow-x: auto;
  background: aliceblue;
  color: #212121;
  padding: 1rem;
  font-size: 0.9rem;
  tab-size: 2;
  max-width: calc(80ch + 2rem);
}

pre::-webkit-scrollbar {
  background: #b3bccc;
}

pre::-webkit-scrollbar-thumb {
  background: #eee;
  border-radius: 5px;
}

code {
  padding: 0 0.3rem;
  color: firebrick;
  background: #eee;
}