.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.grid-col-1 {

}

.border-0 {
  border: 0;
}

.br-0 {
  border-radius: 0;
}

pre {
  overflow-x: auto;
  background: aliceblue;
  color: #212121;
  padding: 15px;
  font-size: 13pt;
  tab-size: 4;
}

pre::-webkit-scrollbar {
  background: #b3bccc;
}

pre::-webkit-scrollbar-thumb {
  background: #eee;
  border-radius: 5px;
}