main {
  /* Indent from sidebar, should use the same margin as width in sidebar. */
  margin-left: 13rem;
  padding-left: 1rem;
  /* Indent from headbar, should use the same margin as height in headbar. */
  margin-top: 3rem;
  padding-top: 1rem;
}

/*
 * HEADBAR
 */

nav.headbar {
  overflow: hidden;
  /* Make it fixes, means ignore page scrolling.  */
  position: fixed;
  top: 0;
  /* Sets height, use that value in content margin-top */
  width: 100%;
  height: 3rem;
  /* text */
  vertical-align: baseline;
  text-align: center;
  font-size: 17px;
  color: #FFFFFF;
  display: flex;
}

nav.headbar > * {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

nav.headbar ul {
  list-style-type: none;
  /* Display children in a row. */
}
nav.headbar ul li {
  display: flex;
  padding: 0.3rem;
  justify-content: center;
  align-items: center;
}

nav.headbar ul li.headbar-nav-brand {
  width: 13rem;
  color: black;
}

nav.headbar ul li.headbar-nav-item {
  padding: 0.5rem 1rem;
}

nav.headbar ul li.headbar-nav-item:hover {
  background: #2196F3;
  color: black;
}

nav.headbar ul li.headbar-nav-item-active {
  color: #BBDEFB;
}

nav.headbar ul li a {
  display: block;
  flex-grow: 1;
  color: inherit;
  text-decoration: none;
}

nav.headbar input.headbar-search {

}

/*
 * SIDEBAR
 */

nav.sidebar {
  background-color: #111;
  overflow-x: hidden;
  z-index: 1;
  /* Make it fixes, means ignore page scrolling.  */
  position: fixed;
  top: 0;
  left: 0;
  /* Set sizes. Use width as margin-left for content. */
  height: 100%;
  width: 13rem;
  /* Indent from headbar, should use the same margin as height in headbar. */
  margin-top: 3rem;
}

nav.sidebar a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

nav.sidebar a:hover {
  background-color: #ddd;
  color: black;
}

nav.sidebar a.active {
  background-color: #2196F3;
  color: white;
}

nav.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.sidebar .sidebar-header {
  font-weight: bold;
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}