nav.sidebar {
  background-color: #111;
  overflow-x: hidden;
  z-index: 1;
  /* Make it fixes, means ignore page scrolling.  */
  position: fixed;
  top: 0;
  left: 0;
  /* Set sizes. Use width as margin-left for content. */
  height: 100%;
  width: 13rem;
  /* Indent from headbar, should use the same margin as height in headbar. */
  margin-top: 3rem;
}

nav.sidebar a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

nav.sidebar a:hover {
  background-color: #ddd;
  color: black;
}

nav.sidebar a.active {
  background-color: #2196F3;
  color: white;
}

nav.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.sidebar .sidebar-header {
  font-weight: bold;
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}